<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">        
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="https://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>

<script type="text/javascript">
        var app = angular.module('myApp',[])
        app.controller('myController',function ($scope) {

            $scope.todoList = [];
            $scope.doneList = [];
            $scope.mode = true;
            $scope.todoSummary; 
            $scope.completeSummary;
            $scope.id = 0;
    
            //深度实时监控两个数组的长度,实现进度数据的更新
            $scope.$watch('todoList + doneList', function(){
                $scope.todoSummary = $scope.todoList.length;
                $scope.completeSummary = $scope.doneList.length;
            },true);
            
            $scope.todoAdd = function(){ 
                $scope.todoList.push({todoText:$scope.todoInput,done:false,isComplete:false,id:$scope.id});
                $scope.todoInput = "";
                $scope.id++;
            }

            //将原数组置为空,然后根据done的值重新压入.(原id不变)
            $scope.remove = function() {
                var oldList = $scope.todoList;
                $scope.todoList = [];
                angular.forEach(oldList, function(x) {
                    if (!x.done) $scope.todoList.push(x);
                });
            };
            $scope.complete = function(){
                angular.forEach($scope.todoList,function(x){
                    if (x.done) {
                        $scope.doneList.push({todoText:x.todoText,done:false,isComplete:true,id:$scope.id});
                        x.isComplete = "true";
                        x.done = false;
                        } 
                })
            }
            $scope.changeMode = function(){
                $scope.mode = !$scope.mode;
            }
        })
    </script>
</head>
<body ng-app="myApp" class="ng-scope" ng-controller="myController">
    <h2>My TODO Note</h2>
    <div ng-show="!mode">
        <h3>WORK-TODO</h3>
        <label >{{todoSummary - completeSummary}}</label>/<label >{{todoSummary}}</label>
        <form ng-submit="todoAdd()">
            <input type="text" ng-model="todoInput" size="50" placeholder="New">
            <input type="submit" value="Add" ng-disabled=!todoInput>
        </form>
        <br>
        <div ng-repeat="x in todoList" ng-hide="x.isComplete">
            <input type=checkbox ng-model="x.done"><input type="text" ng-model="x.todoText" size="50" placeholder="x.todoText">
        </div>
        <p><button ng-click="remove()" ng-disabled="">Delete</button> <button ng-click="complete()">Complete</button></p>

        <h3>WORK-DONE</h3>
        <div ng-repeat="x in doneList" ng-show="x.isComplete">
            <label>
                <span ng-bind="x.todoText"></span>
            </label>
        </div>
        <p><button ng-click="changeMode()">WORK/NORMAL</button></p>
    </div>

    <div ng-hide="!mode">
        <h3>Normal-TODO</h3>
        <label >{{todoSummary - completeSummary}}</label>/<label >{{todoSummary}}</label>
        <form ng-submit="todoAdd()">
            <input type="text" ng-model="todoInput" size="50" placeholder="New">
            <input type="submit" value="Add" ng-disabled=!todoInput>
        </form>
        <br>
        <div ng-repeat="x in todoList" ng-hide="x.isComplete">
            <input type=checkbox ng-model="x.done"><input type="text" ng-model="x.todoText" size="50" placeholder="x.todoText">
        </div>
        <p><button ng-click="remove()" ng-disabled="">Delete</button> <button ng-click="complete()">Complete</button></p>
    
        <h3>Normal-DONE</h3>
        <div ng-repeat="x in doneList" ng-show="x.isComplete">
            <label>
                <span ng-bind="x.todoText"></span>
            </label>
        </div>
        <p><button ng-click="changeMode()">WORK/NORMAL</button></p>
    </div>
</body>
</html>